In [41]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [62]:
land_path_Q1 = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_Q1\2020_Q1.csv.gz"
dma_cell_path = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\precipitation\combine\dma_cells.csv"
waterflow_path = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\precipitation_water_combine\quarterly\2020_Q1"
combined_output_path = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\1_combined\land_precipitation_water\2020_Q1\by_DMA"

In [80]:
land_data_Q1 = pd.read_csv(land_path_Q1,compression="gzip")
land_data_Q1.shape

(2096640, 19)

In [81]:
land_data_Q1.tail()

,time,latitude,longitude,soil_water_layer1,soil_temperature_layer1,soil_water_layer2,soil_temperature_layer2,soil_water_layer3,soil_temperature_layer3,soil_water_layer4,soil_temperature_layer4,surface_runoff,subsurface_runoff,snow_melt,snowfall,evaporation,runoff,total_precipitation,skin_temperature
2096635,2020-03-31 23:00:00,54.67,1.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096636,2020-03-31 23:00:00,54.67,1.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096637,2020-03-31 23:00:00,54.67,1.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096638,2020-03-31 23:00:00,54.67,1.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096639,2020-03-31 23:00:00,54.67,1.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
lat_bnds = [51.7, 51.8, 51.9, 52.0, 52.1, 52.2, 52.3, 52.4, 52.5, 52.6,
            52.7, 52.8, 52.9, 53.0, 53.1, 53.2, 53.3, 53.4, 53.5, 53.6,
            53.7, 53.8, 53.9, 54.0, 54.1, 54.2, 54.3, 54.4, 54.5, 54.6,
            54.7, 54.8]

lon_bnds = [-1.5, -1.4, -1.3, -1.2, -1.1, -1.0, -0.9, -0.8, -0.7, -0.6,
            -0.5, -0.4, -0.3, -0.2, -0.1, 0.0, 0.1, 0.2, 0.3, 0.4,
            0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8]

In [83]:
grid = np.arange(33 * 31).reshape(33, 31)

In [84]:
def find_cell(lat, lon, lat_bnds, lon_bnds, grid):
    # Find row index (Longitude) for the grid cell
    row_idx = np.searchsorted(lon_bnds, lon, side="right") - 1
    # Find column index (Latitude) for the grid cell
    col_idx = np.searchsorted(lat_bnds, lat, side="right") - 1
    # Retrieve the cell number from the grid
    cell_number = grid[row_idx, col_idx]
    return cell_number

In [85]:
land_data_Q1['cell_num'] = land_data_Q1.apply(
    lambda row: find_cell(row['latitude'], row['longitude'], lat_bnds, lon_bnds, grid),
    axis=1
)

In [86]:
land_data_Q1['cell_num'].head()

0      0
1     31
2     62
3     93
4    124
Name: cell_num, dtype: int32

In [87]:
dma_cell = pd.read_csv(dma_cell_path,index_col=0)
dma_cell.head()

            cell_num
DMASHORTNA
BOAUSTMA         351
IPSRT7MA         809
PRECWRDV          97
LANGTOMA         351
WDEEPIMA         350

In [88]:
dma_cell = dma_cell.reset_index()
land_data_Q1 = land_data_Q1.merge(dma_cell, on='cell_num', how='left')
land_data_Q1.tail()

,time,latitude,longitude,soil_water_layer1,soil_temperature_layer1,soil_water_layer2,soil_temperature_layer2,soil_water_layer3,soil_temperature_layer3,soil_water_layer4,...,surface_runoff,subsurface_runoff,snow_melt,snowfall,evaporation,runoff,total_precipitation,skin_temperature,cell_num,DMASHORTNA
7740091,2020-03-31 23:00:00,54.67,1.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,866,NaN
7740092,2020-03-31 23:00:00,54.67,1.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,897,NaN
7740093,2020-03-31 23:00:00,54.67,1.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,928,NaN
7740094,2020-03-31 23:00:00,54.67,1.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,959,NaN
7740095,2020-03-31 23:00:00,54.67,1.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,990,NaN

In [89]:
null_rows = land_data_Q1[land_data_Q1['DMASHORTNA'].isna()]

In [90]:
null_rows.shape

(1327872, 21)

In [91]:
land_data_Q1.shape

(7740096, 21)

In [92]:
split_data = {name: group for name, group in land_data_Q1.groupby('DMASHORTNA')}

In [93]:
num = len(split_data)
num

2936

In [94]:
missing_precipitation_dma = []

In [95]:
first_df = next(iter(split_data.values()))
print(first_df.head())

                      time  latitude  longitude  soil_water_layer1  \
45     2020-01-01 00:00:00     51.87      -0.78           0.454292
3589   2020-01-01 01:00:00     51.87      -0.78           0.454239
7133   2020-01-01 02:00:00     51.87      -0.78           0.454170
10677  2020-01-01 03:00:00     51.87      -0.78           0.454094
14221  2020-01-01 04:00:00     51.87      -0.78           0.454018

       soil_temperature_layer1  soil_water_layer2  soil_temperature_layer2  \
45                   279.55872           0.459190                279.78680
3589                 279.35890           0.459099                279.77618
7133                 279.14246           0.459015                279.75238
10677                278.97888           0.458939                279.72186
14221                278.82513           0.458862                279.68450

       soil_water_layer3  soil_temperature_layer3  soil_water_layer4  ...  \
45              0.482475                280.52570           0.486679  ...
3589            0.482414                280.52680           0.486681  ...
7133            0.482353                280.52790           0.486689  ...
10677           0.482285                280.52893           0.486692  ...
14221           0.482216                280.52838           0.486692  ...

       surface_runoff  subsurface_runoff  snow_melt  snowfall  evaporation  \
45       5.848085e-08           0.000067        0.0       0.0    -0.000005
3589     1.121168e-07           0.000135        0.0       0.0    -0.000011
7133     1.407993e-07           0.000202        0.0       0.0    -0.000016
10677    1.899568e-07           0.000269        0.0       0.0    -0.000021
14221    3.009683e-07           0.000336        0.0       0.0    -0.000026

         runoff  total_precipitation  skin_temperature  cell_num  DMASHORTNA
45     0.000067             0.000004         279.17810       218    AABOTTMA
3589   0.000135             0.000008         278.73670       218    AABOTTMA
7133   0.000202             0.000011         278.29310       218    AABOTTMA
10677  0.000269             0.000014         278.01318       218    AABOTTMA
14221  0.000337             0.000023         277.76068       218    AABOTTMA

[5 rows x 21 columns]

In [97]:
for dmashortna, df_split in tqdm(split_data.items()):
    file_path = os.path.join(waterflow_path, f"{dmashortna}.csv")  # Construct the file path

    if os.path.exists(file_path):  # Check if the file exists
        # Read the corresponding file
        water_data = pd.read_csv(file_path)
        
        # Merge the file data with the split data on a common column, e.g., 'cell_num'
        # Here, we assume 'cell_num' is the common column, but adjust if needed
        water_data.rename(columns = {'DateTime': 'time'},inplace=True) 
        water_data['time'] = pd.to_datetime(water_data['time'])
        df_split['time'] = pd.to_datetime(df_split['time']) 
        combined_data = pd.merge(water_data,df_split, on='time', how='left')
        combined_data = combined_data.drop(columns = ['latitude','longitude','cell_num','DMASHORTNA'], errors = 'ignore')
        # Save the combined data to a new file in the output directory
        output_path = os.path.join(combined_output_path, f"{dmashortna}.csv")
        combined_data.to_csv(output_path, index=False)
    else:
        missing_precipitation_dma.append(dmashortna)

100%|██████████████████████████████████████████████████████████████████████████████| 2936/2936 [02:07<00:00, 22.96it/s]

In [98]:
num = len(missing_precipitation_dma)
num

1005

In [99]:
example_dma = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\1_combined\land_precipitation_water\2020_Q1\by_DMA\AABOTTMA.csv"

In [104]:
example_dma_data = pd.read_csv(example_dma,index_col=0)

In [105]:
example_dma_data.head(20)

,time,DMA,DataSet,Flow(l/s),precipitation,soil_water_layer1,soil_temperature_layer1,soil_water_layer2,soil_temperature_layer2,soil_water_layer3,...,soil_water_layer4,soil_temperature_layer4,surface_runoff,subsurface_runoff,snow_melt,snowfall,evaporation,runoff,total_precipitation,skin_temperature
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,2020-01-02 00:00:00,AABOTTMA,BNF,1.200000,0.0,0.452599,279.26030,0.457199,279.47302,0.480881,...,0.486693,283.08807,5.829298e-08,0.000067,0.0,0.0,-0.000004,0.000067,0.000005,279.13910
1,2020-01-02 00:15:00,AABOTTMA,BNF,1.022222,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-02 00:30:00,AABOTTMA,BNF,0.877778,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-02 00:45:00,AABOTTMA,BNF,0.911111,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-02 01:00:00,AABOTTMA,BNF,0.811111,0.0,0.452553,279.29535,0.457130,279.48035,0.480812,...,0.486690,283.08734,2.451177e-07,0.000134,0.0,0.0,-0.000008,0.000134,0.000019,279.19672
5,2020-01-02 01:15:00,AABOTTMA,BNF,0.833333,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2020-01-02 01:30:00,AABOTTMA,BNF,0.833333,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2020-01-02 01:45:00,AABOTTMA,BNF,0.800000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2020-01-02 02:00:00,AABOTTMA,BNF,0.877778,0.0,0.452576,279.28094,0.457062,279.48663,0.480751,...,0.486682,283.08460,3.308012e-07,0.000201,0.0,0.0,-0.000011,0.000201,0.000026,279.12952
9,2020-01-02 02:15:00,AABOTTMA,BNF,0.788889,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2020-01-02 02:30:00,AABOTTMA,BNF,0.777778,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2020-01-02 02:45:00,AABOTTMA,BNF,0.777778,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2020-01-02 03:00:00,AABOTTMA,BNF,0.700000,0.0,0.452538,279.24940,0.456993,279.49090,0.480682,...,0.486682,283.08215,3.792281e-07,0.000268,0.0,0.0,-0.000012,0.000269,0.000029,279.03400
13,2020-01-02 03:15:00,AABOTTMA,BNF,0.700000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2020-01-02 03:30:00,AABOTTMA,BNF,0.733333,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2020-01-02 03:45:00,AABOTTMA,BNF,0.777778,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2020-01-02 04:00:00,AABOTTMA,BNF,0.777778,0.0,0.452492,279.18848,0.456917,279.49152,0.480621,...,0.486685,283.08100,4.105140e-07,0.000335,0.0,0.0,-0.000012,0.000336,0.000032,278.87543
17,2020-01-02 04:15:00,AABOTTMA,BNF,0.877778,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2020-01-02 04:30:00,AABOTTMA,BNF,0.744444,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2020-01-02 04:45:00,AABOTTMA,BNF,0.777778,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
example_dma_data.tail(20)

,time,DMA,DataSet,Flow(l/s),precipitation,soil_water_layer1,soil_temperature_layer1,soil_water_layer2,soil_temperature_layer2,soil_water_layer3,...,soil_water_layer4,soil_temperature_layer4,surface_runoff,subsurface_runoff,snow_melt,snowfall,evaporation,runoff,total_precipitation,skin_temperature
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
8616,2020-03-31 18:00:00,AABOTTMA,BNF,2.633333,0.0,0.411652,280.34700,0.421715,279.57526,0.449783,...,0.484910,280.64240,0.000001,0.001068,0.000005,0.0,-0.001344,0.001070,0.000123,280.26892
8617,2020-03-31 18:15:00,AABOTTMA,BNF,2.544445,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8618,2020-03-31 18:30:00,AABOTTMA,BNF,2.622222,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8619,2020-03-31 18:45:00,AABOTTMA,BNF,2.466667,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8620,2020-03-31 19:00:00,AABOTTMA,BNF,2.544445,0.0,0.411613,279.69670,0.421684,279.58582,0.449715,...,0.484900,280.64154,0.000001,0.001124,0.000005,0.0,-0.001354,0.001125,0.000123,278.91235
8621,2020-03-31 19:15:00,AABOTTMA,BNF,2.788889,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8622,2020-03-31 19:30:00,AABOTTMA,BNF,2.444444,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8623,2020-03-31 19:45:00,AABOTTMA,BNF,1.588889,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8624,2020-03-31 20:00:00,AABOTTMA,BNF,1.588889,0.0,0.411598,279.17390,0.421669,279.56560,0.449654,...,0.484900,280.64075,0.000001,0.001180,0.000005,0.0,-0.001361,0.001181,0.000123,277.97010
8625,2020-03-31 20:15:00,AABOTTMA,BNF,1.366667,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8626,2020-03-31 20:30:00,AABOTTMA,BNF,1.388889,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8627,2020-03-31 20:45:00,AABOTTMA,BNF,1.366667,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8628,2020-03-31 21:00:00,AABOTTMA,BNF,1.288889,0.0,0.411613,278.47020,0.421654,279.50977,0.449593,...,0.484880,280.63990,0.000001,0.001236,0.000005,0.0,-0.001366,0.001237,0.000123,276.55768
8629,2020-03-31 21:15:00,AABOTTMA,BNF,1.411111,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8630,2020-03-31 21:30:00,AABOTTMA,BNF,1.466667,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8631,2020-03-31 21:45:00,AABOTTMA,BNF,1.377778,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8632,2020-03-31 22:00:00,AABOTTMA,BNF,1.288889,0.0,0.411636,277.85773,0.421639,279.42337,0.449516,...,0.484884,280.63910,0.000001,0.001292,0.000005,0.0,-0.001369,0.001293,0.000123,275.45618
8633,2020-03-31 22:15:00,AABOTTMA,BNF,1.322222,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8634,2020-03-31 22:30:00,AABOTTMA,BNF,1.244444,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8635,2020-03-31 22:45:00,AABOTTMA,BNF,1.222222,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
example_dma_data.columns

Index(['Unnamed: 0', 'time', 'DMA', 'DataSet', 'Flow(l/s)', 'precipitation',
       'soil_water_layer1', 'soil_temperature_layer1', 'soil_water_layer2',
       'soil_temperature_layer2', 'soil_water_layer3',
       'soil_temperature_layer3', 'soil_water_layer4',
       'soil_temperature_layer4', 'surface_runoff', 'subsurface_runoff',
       'snow_melt', 'snowfall', 'evaporation', 'runoff', 'total_precipitation',
       'skin_temperature'],
      dtype='object')