In [35]:
import geopandas as gpd
import numpy as np
import pandas as pd

In [6]:
DMA_shp_path = r"D:\qing_research\1_flood_water\1_flood_water_network\data\Geo\DMA\DMA shape file\DMA.shp"
floods_shp_2020_path = r"D:\qing_research\1_flood_water\1_flood_water_network\data\Geo\flood\1_extract_flood_inDMA\flood_map\2020.shp"

In [14]:
DMA_shp = gpd.read_file(DMA_shp_path)
floods_shp_2020 = gpd.read_file(floods_shp_2020_path)
DMA_shp=DMA_shp.to_crs(epsg = 3857)
floods_shp_2020 = floods_shp_2020.to_crs(epsg=3857)

In [18]:
overlap_2020 = gpd.overlay(DMA_shp,floods_shp_2020,how='intersection')
overlap_2020 = overlap_2020.drop_duplicates().reset_index(drop = True)

In [20]:
num_DMA = len(overlap_2020)
num_DMA

21

In [22]:
DMA_counts = overlap_2020.groupby('flood_id').size().reset_index(name='dma_count')
DMA_counts

    flood_id  dma_count
0          8          1
1         59          1
2        228          4
3        229          3
4        328          3
5        329          2
6        330          1
7        331          1
8        332          1
9        333          1
10       334          1
11       335          1
12       336          1

In [24]:
num_dma = np.arange(1,max(DMA_counts['dma_count'])+1)
num_dma

array([1, 2, 3, 4])

In [55]:
dma_num_by_floods = DMA_counts.groupby('dma_count').size().reset_index(name='num_floods')
# dma_num_by_floods['num_dma'] = np.arange(1,max(DMA_counts['dma_count'])+1)

In [56]:
dma_num_by_floods

   dma_count  num_floods
0          1           9
1          2           1
2          3           2
3          4           1