In [1]:
import requests
import pandas as pd
import geopandas as gpd

In [3]:
data = pd.read_csv('Anglian water/TSD/2020-Q1/2020-Q1.csv')
data.head()

                     Date/Time       DMA DataSet  Flow(l/s)
0  2020-01-02 00:00:00.0000000  AABOTTMA     BNF   1.200000
1  2020-01-02 00:15:00.0000000  AABOTTMA     BNF   1.022222
2  2020-01-02 00:30:00.0000000  AABOTTMA     BNF   0.877778
3  2020-01-02 00:45:00.0000000  AABOTTMA     BNF   0.911111
4  2020-01-02 01:00:00.0000000  AABOTTMA     BNF   0.811111

In [4]:
unique_DMA_count = data['DMA'].nunique()
unique_DMA_count

2030

In [13]:
data_Q2 = pd.read_csv('Anglian water/TSD/2020-Q2/2020-Q2.csv')
unique_DMA_Q2_count = data_Q2['DMA'].nunique()
unique_DMA_Q2_count

2031

In [6]:
data_LCC = pd.read_csv('Anglian water/TSD/2020-Q1-LCC/2020-Q1-LCC.csv')
data_LCC.head()

                     Date/Time       DMA DataSet  Flow(l/s)
0  2020-01-02 00:00:00.0000000  ABBRIPMA    BLUF   0.022222
1  2020-01-02 00:15:00.0000000  ABBRIPMA    BLUF   0.022222
2  2020-01-02 00:30:00.0000000  ABBRIPMA    BLUF   0.044444
3  2020-01-02 00:45:00.0000000  ABBRIPMA    BLUF   0.032222
4  2020-01-02 01:00:00.0000000  ABBRIPMA    BLUF   0.000000

In [7]:
unique_DMALCC_count = data_LCC['DMA'].nunique()
unique_DMALCC_count

631

In [8]:
data_months = pd.read_csv('Anglian water/TSD/Months/2021-02/2021-02.csv')
data_months.head()

                 UTC Date/Time   PointId Quality   Flow l/s
0  2021-02-01 00:00:00.0000000  10070485     Raw  15.277778
1  2021-02-01 00:00:00.0000000  10070489     Raw  30.222222
2  2021-02-01 00:00:00.0000000  10070515     Raw  73.111110
3  2021-02-01 00:00:00.0000000  10070547     Raw   0.000000
4  2021-02-01 00:00:00.0000000  10070548     Raw   2.900000

In [9]:
unique_DMAmonth_count = data_months['PointId'].nunique()
unique_DMAmonth_count

4625

In [10]:
data_30_day = pd.read_csv('Anglian water/TSD/30 day/2023-09-25 - 30 Day Extract/2023-09-25 - 30 Day Extract.csv')
data_30_day.head()

                     Date/Time       DMA DataSet  Flow(l/s)
0  2023-08-26 00:00:00.0000000  AABOTTMA     BNF   2.166667
1  2023-08-26 00:15:00.0000000  AABOTTMA     BNF   2.400000
2  2023-08-26 00:30:00.0000000  AABOTTMA     BNF   2.444444
3  2023-08-26 00:45:00.0000000  AABOTTMA     BNF   2.255556
4  2023-08-26 01:00:00.0000000  AABOTTMA     BNF   1.911111

In [12]:
unique_30_day = data_30_day['DMA'].nunique()
unique_30_day

2150