In [5]:
import pandas as pd
import os
from tqdm import tqdm

In [2]:
output_path = "D:\\qing_research\\1_rainfall_water\\1_rainfall_water_network\\data\\repair\\by_dma"
repair_path = "D:\\qing_research\\1_rainfall_water\\1_rainfall_water_network\\data\\repair\\Repairs.xlsx"

In [3]:
repair_data = pd.read_excel(repair_path)

In [6]:
for dma, group in tqdm(repair_data.groupby("DMA"),desc="processing"):
    output_file_path = os.path.join(output_path,f"{dma}.csv")
    group.to_csv(output_file_path,index = False)

processing: 100%|█████████████████████████████████████████████████████████████████| 1999/1999 [00:02<00:00, 812.30it/s]

In [7]:
unique_repair_types = repair_data['TUP'].nunique()
unique_repair_types

8

In [8]:
repair_type_counts = repair_data['TUP'].value_counts()
repair_type_counts

TUP
NW T31 Stop Tap Replacement with Boundary Box    73327
NW T32 Communication Pipe Repair                 17878
NW T34 Main Repair - Split Collar                13895
NW T36 Main Repair - Cut piece                    7353
NW T38 Mains Fitting                              5647
NW T33 Customer Supply Pipe Repair                5123
NW T35 Ferrule Repair                             2818
NW T37 Fire Hydrant                                909
Name: count, dtype: int64

In [11]:
repair_type_df = repair_type_counts.reset_index()
repair_type_df.columns = ["Repair_Type", "Count"]

In [12]:
repair_type_df["Code"] = range(1, len(repair_type_df) + 1)
repair_type_df

                                     Repair_Type  Count  Code
0  NW T31 Stop Tap Replacement with Boundary Box  73327     1
1               NW T32 Communication Pipe Repair  17878     2
2              NW T34 Main Repair - Split Collar  13895     3
3                 NW T36 Main Repair - Cut piece   7353     4
4                           NW T38 Mains Fitting   5647     5
5             NW T33 Customer Supply Pipe Repair   5123     6
6                          NW T35 Ferrule Repair   2818     7
7                            NW T37 Fire Hydrant    909     8

In [13]:
repair_type_df.to_csv("D:\\qing_research\\1_rainfall_water\\1_rainfall_water_network\\data\\repair\\repair_type.csv", index=False)