In [1]:
import pandas as pd
from tqdm import tqdm
import os
import re

In [7]:
data_path = r"D:\qing_research\1_flood_water\1_flood_water_network\data\Anglian_water\Anglian Water data\TSD\30 day\2023-08-30 - 30 Day Extract\2023-08-30 - 30 Day Extract.csv"

In [8]:
data = pd.read_csv(data_path)
data.head()

                     Date/Time       DMA DataSet  Flow(l/s)
0  2023-08-02 23:00:00.0000000  AABOTTMA     BNF   1.700000
1  2023-08-02 23:15:00.0000000  AABOTTMA     BNF   1.766667
2  2023-08-02 23:30:00.0000000  AABOTTMA     BNF   1.855556
3  2023-08-02 23:45:00.0000000  AABOTTMA     BNF   1.788889
4  2023-08-03 00:00:00.0000000  AABOTTMA     BNF   1.744444

In [9]:
data['Date/Time'] = pd.to_datetime(data['Date/Time'])
start_date = data['Date/Time'].min().strftime('%Y-%m-%d %H:%M:%S')
end_date = data['Date/Time'].max().strftime('%Y-%m-%d %H:%M:%S')
print(f"{start_date},{end_date}")

2023-07-31 00:00:00,2023-08-29 22:45:00

In [10]:
next_data_path = r"D:\qing_research\1_flood_water\1_flood_water_network\data\Anglian_water\Anglian Water data\TSD\30 day\2023-09-04 - 30 Day Extract\2023-09-04 - 30 Day Extract.csv"

In [11]:
next_data = pd.read_csv(next_data_path)
next_data['Date/Time'] = pd.to_datetime(next_data['Date/Time'])
start_date = next_data['Date/Time'].min().strftime('%Y-%m-%d %H:%M:%S')
end_date = next_data['Date/Time'].max().strftime('%Y-%m-%d %H:%M:%S')
print(f"{start_date},{end_date}")

2023-08-05 00:00:00,2023-09-03 22:45:00